/* Ganti lebar sidebar */
.sidebar {
    width: 280px !important; /* Ganti sesuai kebutuhan */
}

/* Konten harus bergeser sesuai lebar sidebar */
#content-wrapper {
    margin-left: 280px;
}

/* Sidebar toggle animation */
.sidebar.toggled {
    width: 80px !important;
}

#content-wrapper.toggled {
    margin-left: 80px;
}
